<footer class="footer">
      <div class="container">
		  	 <span class="text-muted">Website owned &amp; operated by <a href="https://selfo.io" target="_blank">@mushicious</a> | Based on <a href="https://github.com/moneroexamples/onion-monero-blockchain-explorer" target="_blank">Onion Monero Blockchain Explorer</a> | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}}) | monero version: {{monero_version_full}}</span>
		</div>
      </div>
    </footer>
</body>
</html>
