<div class="main-content">
        <div id="page-wrapper" style="padding-top: 0px;">
                <div class="graphs">
                    <div class="col_2">
                         {{#network_info}}


 <div class="col-md-2 widget widget1">
                            <div class="activity_box">
                                <h3 style="background:#8bc34a;">Difficulty</h3>
                                <div class="stats" style="text-align:center;"><h4>{{difficulty}}</h4></div>
                            </div>
                            

  
                        </div>
                        <div class="col-md-2 widget widget1">
                            <div class="activity_box">
                                <h3 style="background:#4aadc3;">Fee per kb</h3>
                                <div class="stats" style="text-align:center;"><h4>{{fee_per_kb}}</h4></div>
                            </div>
                            </div>
                            {{#emission}}

  
                        <div class="col-md-3 widget widget1">
                            <div class="activity_box">
                                <h3 style="background:#b64ac3;">EMISSION (FEES)</h3>
                                <div class="stats" style="text-align:center;"><h4>{{amount}} ({{fee_amount}})</h4></div>
                            </div>
                            

  
                        </div>
                          {{/emission}}
                        
                        <div class="col-md-2 widget widget1">
                            <div class="activity_box">
                                <h3 style="background:#c34a4a;">Hash Rate</h3>
                                <div class="stats" style="text-align:center;"><h4>{{hash_rate}}</h4></div>
                            </div>
                            </div>

                            <div class="col-md-2 widget">
                            <div class="activity_box">
                                <h3 style="background:#f38221;">Median block size</h3>
                                <div class="stats" style="text-align:center;"><h4>{{block_size_limit}}<span>kB</span></h4></div>
                            </div>
                            </div>
                         {{/network_info}}
                        <div class="clearfix"> </div>

    {{{mempool_info}}}

     <div class="panel panel-warning">
                            <div class="panel-heading">
    {{#is_page_zero}}
        <h2>Transactions in the last {{no_of_last_blocks}} blocks
    {{/is_page_zero}}
    {{^is_page_zero}}
      <h2>Transactions in older blocks<!--(height: {{height}})-->
    {{/is_page_zero}}

     <span class="pull-right">(Median size of these blocks: {{blk_size_median}} kB)</span></h2>
                                <div class="panel-ctrls"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
                            </div>
<div class="" style="display: block;">
                                <table class="table table-striped">
                                    <thead>
                                         <tr>
                    <td>height</td>
                    <td>age {{age_format}}<!--(Δm)--></td>
                    <td>size [kB]<!--(Δm)--></td>
                    <td>tx hash</td>
                    <td>fees</td>
                    <td>outputs</td>
                    <td>in(nonrct)/out</td>
                    <td>ring size</td>
                    <td>tx size [kB]</td>
                </tr>
                                    </thead>
                                    <tbody>
                                       {{#txs}}
                <tr>
                    <td><a href="/block/{{height}}">{{height}}</a></td>
                    <td>{{age}}<!--{{time_delta}}--></td>
                    <td>{{blk_size}}</td>
                    <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                    <td>{{tx_fee_short}}</td>
                    <td>{{sum_outputs_short}}</td>
                    <td>{{no_inputs}}({{no_nonrct_inputs}})/{{no_outputs}}</td>
                    <td>{{mixin}}</td>
                    <td>{{tx_size_short}}</td>
                </tr>
                {{/txs}}
                                    </tbody>
                                </table>
                            </div>
                        </div><div id="pages" class="center" style="text-align: center;">

                        <nav>
                          <ul class="pagination">
                            
                        

             {{^is_page_zero}}
                <li><a href="/page/{{prev_page}}" aria-label="Previous"><</a></li>
                <li><a href="/">0</a></li>
             {{/is_page_zero}}
                <li class="active"><a href="#">{{page_no}}</a></li>
                <li><a href="/page/{{total_page_no}}">{{total_page_no}}</a></li>
                <li><a href="/page/{{next_page}}" aria-label="Next">></a></li>
             </ul>
                       </nav>
            </div>
            {{#show_cache_times}}
    <div class="center">
        <h6 style="text-align:center;margin-top: 1px;color:#949490">
            Tx details construction time: {{construction_time_total}}s | includes {{construction_time_cached}}s from block cache ({{cache_hits}} hits) and {{construction_time_non_cached}}s from non cache ({{cache_misses}} misses)
        </h6>
    </div>
{{/show_cache_times}}</div>

                </div>

            </div>
             
        </div>
