 <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h2>Transaction pool<span class="pull-right">(no of txs: {{mempool_size}}, size: {{mempool_size_kB}} kB, updated every {{ mempool_refresh_time }} seconds)</span></h2>
                                <div class="panel-ctrls"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
                            </div>
                            <div class="" style="display: block;">
                                <table class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <td>age [h:m:s]</td>
                                            <td>transaction hash</td>
                                            <td>fee</td>
                                            <td>outputs</td>
                                            <td>in(nonrct)/out</td>
                                            <td>ring size</td>
                                            <td>tx size [kB]</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#mempooltxs}}
                                        <tr>
                                            <td>{{age}}</td>
                                            <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                                            <td>{{fee}}</td>
                                            <td>{{xmr_outputs}}</td>
                                            <td>{{no_inputs}}({{no_nonrct_inputs}})/{{no_outputs}}</td>
                                            <td>{{mixin}}</td>
                                            <td>{{txsize}}</td>
                                        </tr>
                                        {{/mempooltxs}}
                                    </tbody>
                                </table>
                            </div>
                        </div>



    {{^mempool_fits_on_front_page}}
      {{#partial_mempool_shown}}
      <div class="center" style="text-align: center; margin-bottom: 10px">
          <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
      </div>
      {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}

