<div class="main-content">
        <div id="page-wrapper" style="padding-top: 0px;">
                <div class="graphs"><div class="grid_3 grid_4">

    <H3 style="text-align:center;">Tx hash: {{tx_hash}}</H4>
    <H5 style="text-align:center;">
    {{#enable_mixins_details}}
        | Tx prefix hash: {{tx_prefix_hash}} | 
    {{/enable_mixins_details}}
    | Tx public key: {{tx_pub_key}} |

    {{#has_payment_id}}
        | Payment id: {{payment_id}} | | Payment id as ascii ([a-zA-Z0-9 /!]): {{payment_id_as_ascii}}
    {{/has_payment_id}}

    {{#has_payment_id8}}
        | Payment id (encrypted): {{payment_id8}} |
    {{/has_payment_id8}}
    </H5>

    {{#have_prev_hash}}
        <H5>Previous tx: <a href="/tx/{{prev_hash}}">{{prev_hash}}</a></H5>
    {{/have_prev_hash}}

    {{#have_next_hash}}
        <H5>Next tx: <a href="/tx/{{next_hash}}">{{next_hash}}</a></H5>
    {{/have_next_hash}}



    <table class="table" style="text-align: center;">
        {{^have_raw_tx}}
        <tr>
            <td>Timestamp: {{blk_timestamp_uint}}</td>
            <td>Timestamp [UCT]: {{blk_timestamp}}</td>
            <td>Age [y:d:h:m:s]: {{delta_time}}</td>
        </tr>
        {{/have_raw_tx}}
        <tr>
            <td>Block: <a href="/block/{{blk_height}}">{{blk_height}}</a></td>
            <td>Fee: {{tx_fee}}</td>
            <td>Tx size: {{tx_size}} kB</td>
        </tr>
        <tr>
            <td>Tx version: {{tx_version}}</td>
            <td>No of confirmations: {{confirmations}}</td>
            <td>RingCT/type:  {{#is_ringct}}yes/{{rct_type}}{{/is_ringct}}{{^is_ringct}}no{{/is_ringct}}</td>
        </tr>
    </table>

  <h5 style="word-wrap: break-word;display: inline-block;width: 100%;text-align: center;">Extra: {{extra}}</h5>

  <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h2>{{outputs_no}} output(s) for total of {{outputs_xmr_sum}} monero (xmr)</h2>
                              </div>
      <table class="table table-striped">
      <thead>
          <tr>
              <td>stealth address</td>
              <td>amount</td>
              <td>amount idx</td>
          </tr>
          </thead>
          <tbody>
          {{#outputs}}
          
          <tr>
              <td>{{output_idx}}: {{out_pub_key}}</td>
              <td>{{amount}}</td>
              <td>{{amount_idx}} of {{num_outputs}}</td>
          </tr>
         
          {{/outputs}}
           </tbody>
      </table>
  </div>



{{#has_inputs}}
    {{#enable_mixins_details}}
      <h4 style="text-align:center;">Inputs' ring size time scale (from {{min_mix_time}} till {{max_mix_time}};
        resolution: {{timescales_scale}} days{{#have_raw_tx}}; R - real ring member {{/have_raw_tx}})
      </h4>
      <div class="well" style="text-align:center;word-wrap:break-word;">
          {{#timescales}}
            <span style="font-size: 10px;font-family: 'Lucida Console', Monaco, monospace;">|{{timescale}}|</span>
          {{/timescales}}
      </div>
    {{/enable_mixins_details}}
    <div class="panel panel-warning">
    {{^inputs_xmr_sum_not_zero}}
        <div class="panel-heading"><h2>{{inputs_no}} input(s) for total of {{inputs_xmr_sum}} monero (xmr)</h2></div>
    {{/inputs_xmr_sum_not_zero}}
    {{#inputs_xmr_sum_not_zero}}
        {{^have_any_unknown_amount}}
            <div class="panel-heading"><h2>{{inputs_no}} inputs(s) for total of {{inputs_xmr_sum}} monero (xmr)</h2></div>
        {{/have_any_unknown_amount}}
        {{#have_any_unknown_amount}}
            <div class="panel-heading"><h2>{{inputs_no}} inputs(s) for total of at least {{inputs_xmr_sum}} monero (xmr)</h2></div>
        {{/have_any_unknown_amount}}
    {{/inputs_xmr_sum_not_zero}}

    {{#show_part_of_inputs}}
        <h5 style="margin-top: 2px">
           Only {{max_no_of_inputs_to_show}} inputs are shown. To see all,
            click "<a href="/tx/{{tx_hash}}/1">more details</a>"
        </h5>
    {{/show_part_of_inputs}}

    <table class="table table-striped">
                  <tbody>
      {{#inputs}}
                      <tr>
                          <td>
              key image  {{input_idx}}: {{in_key_img}}
              {{#have_raw_tx}}
               Already spent:
                {{#already_spent}}
                    <span style="color: red; font-weight: bold;">True</span>
                {{/already_spent}}
              {{^already_spent}}
                False
              {{/already_spent}}

              {{/have_raw_tx}}
          </td>
          <td>amount: {{amount}}</td>
       </tr>
          <tr>
            <td colspan="2">
                {{#enable_mixins_details}}
                    <table style="width:100%; margin-bottom:20px">
                    <tr>
                      <td>ring members</td>
                      {{#have_raw_tx}}
                        <td>Is it real?</td>
                      {{/have_raw_tx}}
                      <td>blk</td>
                      <td>ring size</td>
                      <td>in/out</td>
                      <td>timestamp</td>
                      <td>age [y:d:h:m:s]</td>

                    </tr>
                 {{#mixins}}
                    <tr>
                      <td> - {{mix_idx}}: <a href="/tx/{{mix_tx_hash}}">{{mix_pub_key}}</a></td>
                      {{#have_raw_tx}}
                        {{#mix_is_it_real}}
                            <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
                        {{/mix_is_it_real}}
                        {{^mix_is_it_real}}
                            <td>{{mix_is_it_real}}</td>
                        {{/mix_is_it_real}}
                      {{/have_raw_tx}}
                      <td>{{mix_blk}}</td>
                      <td>{{mix_mixin_no}}</td>
                      <td>{{mix_inputs_no}}/{{mix_outputs_no}}</td>
                      <td>{{mix_timestamp}}</td>
                      <td>{{mix_age}}</td>
                    </tr>
                 {{/mixins}}
                 </table>
                {{/enable_mixins_details}}
                {{^enable_mixins_details}}
                <table style="width:100%; margin-bottom:20px">
                    <tr>
                        <td>ring members</td>
                        {{#have_raw_tx}}
                            <td>Is it real?</td>
                        {{/have_raw_tx}}
                        <td>blk</td>
                    </tr>
                    {{#mixins}}
                    <tr>
                        <td> - {{mix_idx}}: {{mix_pub_key}}</td>
                        {{#have_raw_tx}}
                            {{#mix_is_it_real}}
                                <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
                            {{/mix_is_it_real}}
                            {{^mix_is_it_real}}
                                <td>{{mix_is_it_real}}</td>
                            {{/mix_is_it_real}}
                        {{/have_raw_tx}}
                        <td>{{mix_blk}}</td>
                    </tr>
                    {{/mixins}}
                </table>
                {{/enable_mixins_details}}
           </td>
         </tr>
      {{/inputs}}
      </table>


  </div>


 {{/has_inputs}}

{{^have_raw_tx}}
    {{^with_ring_signatures}}
        {{#show_more_details_link}}
            <a class="btn btn-primary" href="/tx/{{tx_hash}}/1" role="button" style="width: 100%;margin-bottom: 10px;">More details</a>
        {{/show_more_details_link}}
    {{/with_ring_signatures}}
    {{#with_ring_signatures}}
        
        <div id="decoded-inputs">
            <div class="center">
                <div class="well" style="word-wrap: break-word;">
                    {{tx_json}}
                </code>
            </div>
        </div>
        <a class="btn btn-primary" href="/tx/{{tx_hash}}" role="button" style="width: 100%;margin-bottom: 10px;">Less details</a>
    {{/with_ring_signatures}}
{{/have_raw_tx}}


{{#show_cache_times}}
    <div class="center" style="padding-top: 10px;">
        {{#construction_time}}
            <h6 style="text-align:center;margin-top: 1px;color:#949490">
                Tx details construction time: {{construction_time}} s
                {{#from_cache}}
                    | Tx read from the tx cache
                {{/from_cache}}
            </h6>
        {{/construction_time}}
    </div>
{{/show_cache_times}}
</div>
</div>
